{{#> main}}
    <h2>Verifique seu endereço de e-mail</h2>
    <p>Olá, {{name}}!</p>
    <p>Obrigado por se cadastrar no {{companyName}}. Para garantir a segurança da sua conta, por favor confirme seu endereço de e-mail clicando no botão abaixo:</p>
    
    <div style="text-align: center;">
        <a href="{{verificationUrl}}" class="button">Confirmar E-mail</a>
    </div>
    
    <p style="margin-top: 30px;">Este link expirará em 24 horas. Se você não criou uma conta conosco, pode ignorar este e-mail com segurança.</p>
    
    <p>Atenciosamente,<br>A equipe {{companyName}}</p>
{{/main}}
