{{#> main}}
  <h1 style="color: {{theme.colors.text}}; margin: 0 0 24px 0; font-size: 24px; font-weight: 700;">
    {{t "emails.invite.title"}}
  </h1>
  
  <p style="color: {{theme.colors.text}}; font-size: 16px; line-height: 1.6; margin: 0 0 32px 0;">
    {{t "emails.invite.content" inviterName=inviterName tenantName=tenantName}}
  </p>
  
  {{> button url=inviteUrl label=(t "emails.invite.cta") }}
  
{{/main}}
