{{#> main}}
    <h2>Redefinição de senha</h2>
    <p>Olá, {{name}}!</p>
    <p>Recebemos uma solicitação para redefinir a senha da sua conta no {{companyName}}. Se você fez essa solicitação, clique no botão abaixo para escolher uma nova senha:</p>
    
    <div style="text-align: center;">
        <a href="{{resetUrl}}" class="button">Redefinir Minha Senha</a>
    </div>
    
    <p style="margin-top: 30px;">Este link expirará em 1 hora. Por motivos de segurança, se você não solicitou a redefinição de senha, por favor ignore este e-mail e sua senha atual permanecerá a mesma.</p>
    
    <p>Atenciosamente,<br>A equipe {{companyName}}</p>
{{/main}}
