{{#> main}}
  <h1 style="color: {{theme.colors.text}}; margin: 0 0 24px 0; font-size: 24px; font-weight: 700;">
    {{t "emails.paymentFailed.title"}}
  </h1>
  
  <p style="color: {{theme.colors.text}}; font-size: 16px; line-height: 1.6; margin: 0 0 24px 0;">
    {{t "common.greeting" name=name}}
  </p>
  
  <div style="margin-bottom: 32px;">
    {{> alert type="error" title="Falha no Pagamento" message=(t "emails.paymentFailed.content") }}
  </div>
  
  {{> button url=billingUrl label=(t "emails.paymentFailed.cta") }}
  
{{/main}}
