{{#> main}}
    <h2>Bem-vindo ao {{companyName}}, {{name}}!</h2>
    <p>Estamos muito felizes em ter você conosco. Sua conta foi criada com sucesso e você já pode começar a explorar nossa plataforma.</p>
    
    <p>Para começar agora mesmo, clique no botão abaixo para acessar seu painel:</p>
    
    <div style="text-align: center;">
        <a href="{{dashboardUrl}}" class="button">Acessar Dashboard</a>
    </div>
    
    <p style="margin-top: 30px;">Se você tiver qualquer dúvida, basta responder a este e-mail. Nossa equipe está sempre pronta para ajudar!</p>
    
    <p>Atenciosamente,<br>A equipe {{companyName}}</p>
{{/main}}